body {
  background-color: black;
  background: url('../images/dungeon.gif') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: tahoma;
  font-size: 18px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
}

h1 {
  color: red;
}

h2 {
  color: red;
}

p {
  margin: 0 auto;
  word-wrap: normal;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

a img:hover {
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

.nav-container {
  display: flex; 
  gap: 20px; 
  justify-content: center;
}

.nav-item {
  text-decoration: none;
}

.nav-item img {
  width: 200px;
  height: 100px;
  object-fit: contain;
  vertical-align: middle;
}

/*.title {
  width: 40%;
}

.subtitle {
  width: 20%;
} */

.back-button img {
  width: 10%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-bottom: 20px; */
}

.title-container img {
  height: 150px;
}

.game-table {
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid rgb(36, 36, 36); */
}

/* .game-table tr {
  border: 1px solid rgb(36, 36, 36);
} */

.game-image {
  /* border: 1px solid rgb(36, 36, 36); */
  text-align: center;
}

.game-description {
  /* border: 1px solid rgb(36, 36, 36); */
  padding: 10px;
}

.game-description h3 a {
  text-decoration: none;
  color: white;
}

.game-description h3 a:hover {
  color: red;
  transition: color 0.3s ease;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  color: white;
  text-align: center;
  padding-bottom: 1%;
}

footer hr {
  border: 1px solid rgb(36, 36, 36);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
}

footer a {
  text-decoration: none;
}
